@font-face{
  font-family: "migrena-bold";
  src: url('./fonts/BORUTTA-GROUP-Migrena_Grotesque-Bold.otf');
  font-weight: bold;
}

@font-face{
  font-family: "migrena";
  src: url('./fonts/BORUTTA-GROUP-Migrena_Grotesque-Regular.otf');
}

h1, h2, h3, h4, h5, h6, strong{
  font-family: "migrena-bold", sans-serif !important;
  margin-bottom: 10px;
}

h2{
  font-size: 1.7rem !important;
  margin-bottom: 20px !important;
}

h3{
  font-size: 1.2rem !important;
}